
main {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
    flex: 1;
}

.category {
    margin-bottom: 3rem;
}

.category h3 {
    font-size: 1.8rem;
    color: #236238;
    text-align: left;
    margin-bottom: 1rem;
    border-left: 6px solid #236238;
    padding-left: 10px;
}

.gallery-flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery-flex img {
    max-width: 150px;
    height: 180px;
    display: block;
    object-fit: cover;
    border-radius: 10px;

}

.gallery-flex img:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px #00000040;
}




#all-checked ~ .gallery-flex .photo-card {
    display: block;
}

#happy:checked ~ .gallery-flex .happy {
     display: block;
}

#peace:checked ~ .gallery-flex .peace {
     display: block;
}