.gallery-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -10px;
}

.favorite-photo {
    width: 180px; 
    height: 240px; 
    margin: 10px;
    border-radius: 20px;
    position: relative;
}

.favorite-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 3/4;
}