body {
    background: #fdf7f0;
    color: #000000;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    font-family: Verdana, sans-serif;
    font-weight: 600;
    color: #ffffff;
    margin: 0.5em 0;
    letter-spacing: 0.5px;
}

h2, h3, h4, h5, h6 {
    font-family: Verdana, sans-serif;
    font-weight: 600;
    color: #000000;
    margin: 0.5em 0;
    letter-spacing: 0.5px;
}

button, .banner-button, .menu a {
    font-family: Verdana, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header {
    background-image: url("../images/index/portada.jpeg");
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;
    padding: 40px 20px;     
    color: white;           
    text-align: center;
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: #00000073;
    z-index: 0;
}

.header * {
    position: relative;
    z-index: 1;
}

.header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
    text-shadow: 0 0 8px #000000cc;
}

.features .feature h3 {
    font-family: Verdana, sans-serif;
    font-weight: 600;
}

.under-banner {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 2rem;
    border-radius: 8px;
}

.under-banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.under-banner-content {
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
    background-color: #00000066;
    padding: 1rem 2rem;
    border-radius: 8px;
}

.under-banner-content h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.banner-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.banner-label span {
    font-weight: bold;
    font-size: 1.2rem;
}

.banner-button {
    display: inline-block;
    background-color: #236238;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.banner-button:hover {
    background-color: #000000;
}

.preview-gallery {
    margin-top: 40px;
    text-align: center;
}

.gallery-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.gallery-flex figure {
    width: 200px;
    text-align: center;
    font-family: Verdana, sans-serif
}

.gallery-flex img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.menu ul {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.menu li {
  list-style: none;
}

.menu a {
  text-decoration: none;
  padding: 0.6rem 1rem;
  display: inline-block;
  color: #ffffff;
  border-radius: 4px;
  font-family: Verdana, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9rem;
}

.menu a:hover {
  background-color: #ffecec;
  color:#000000;
}


main {
  padding: 2rem;
  flex: 1;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}