.confirmaion-message {
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: #333;    
}
.successfully-form {
    color: #236238; 
    font-size: 1.8em; 
    margin-bottom: 15px; 
}

.p confirmaion-message {
    font-size: 1rem;
    margin-bottom: 2rem;
}


.back-btn {
    background-color: #236238;
    color: #ffffff;
    padding: 12px 30px;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.back-btn:hover {
    background-color: #174125;
    transform: scale(1.05);
}
