* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fdf7f0;
  color: #000000;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #236238;;
  color: #ffffff;
  padding: 1rem 2rem;
  text-align: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 3rem;
  color: #ffffff;
}

.menu ul {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.menu li {
  list-style: none;
}

.menu a {
  text-decoration: none;
  padding: 0.6rem 1rem;
  display: inline-block;
  color: #ffffff;
  border-radius: 4px;
  transition: background 0.3s, color 0.3s;
}

.menu a:hover {
  background-color: #ffecec;
  color:#000000;
}


main {
  padding: 2rem;
  flex: 1;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}