body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #fdf7f0;
  color: #ffffff;
}

header {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;  
}

h1 {
  font-size: 3rem;
  letter-spacing: 2px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.nav-menu li {
  margin-bottom: 1rem;
}

.nav-menu li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-menu li a:hover {
  color: #ff8c94;
}
div { 
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.sidebar {
  position: fixed;
  top: 100px;
  left: -280px;
  width: 250px;
  height: calc(100% - 60px); 
  background-color: #fff8f5;
  color: #333333;
  padding: 2rem 1.5rem;
  transition: left 0.3s ease;
  box-shadow: 2px 0 15px #00000026;
  z-index: 999;
  overflow-y: auto;
  border-right: 1px solid #ffdede;
}

.sidebar.active {
   max-height: 500px
}

#close-btn {
  background: none;
  color: #ffffff;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  float: right;
}

.sidebar ul {
  list-style: none;
  margin-top: 3rem;
}

.sidebar ul li {
  margin: 1rem 0;
}

.sidebar ul li a:hover {
  color: #ff8c94; 
} 

.main-banner {
  background-image: url('images/Portada.jpg');
  background-size: cover;       /* que la imagen ocupe todo el espacio */
  background-position: center;  /* centrar la imagen */
  height: 100vh;                /* altura completa de la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center;      /* centrar verticalmente el texto */
  align-items: center;          /* centrar horizontalmente */
  color: white;                 /* texto blanco */
  text-align: center;
  padding: 0 2rem;              /* un poco de margen a los lados */
}

.main-banner h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.main-banner p {
  font-size: 1.2rem;
}