* { 
    font-family: "Poppins", sans-serif;
    background-color: #fdf7f0;
    margin: 0;
    padding: 0;
}

button[type="submit"] {
    background-color: #236238;
    color: white;
    padding: 15px 40px; 
    font-size: 1.2em;  
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #174125; 
    transform: scale(1.05);     
}
