main {
    max-width: 1000px;
    width: 90%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-section {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: center;
}

.profile-photo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fce7b1;
}

.profile-photo figcaption {
    text-align: center;
    color: #fcd678;
    margin-top: 8px;
    font-weight: bold;

}

.cv-table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5rem 0;
}

.cv-table caption {
    caption-side: top;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.cv-table th,
.cv-table td {
    border: 1px solid #cfcfcf;
    padding: 12px;
}

.cv-table th {
    background-color: #363376;
    color: white;
}

.projects-table {
    background: #ffffff;
    padding: 1rem;
    border-left: 5px solid #3b2362;
    margin-bottom: 1rem;
    border-radius: 5px;
}

section h2 {
    font-size: 2rem;
    margin-top: 2rem;
    color: #4c2362;
    text-align: center;
}

aside ul li {
    margin-left: 1rem;
}


