h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #111;
    margin: 0.5em 0;
    letter-spacing: 0.5px;
}

.search-section {
    text-align: center;
    margin-top: 1.5rem;
}

.search-form {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.search-form input {
    padding: 0.5rem;
    border: 1px solid #d0d0d0;
    border-radius: 4px 0 0 4px;
    font-family: 'Roboto', sans-serif;
    width: 250px;
}

.search-form button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #236238;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.search-form button:hover {
    background-color: #000000;
}

.features .feature h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.preview-gallery {
    margin-top: 40px;
    text-align: center;
}

.gallery-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.gallery-flex figure {
    width: 200px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.gallery-flex img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

