main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/en_que_penses/natura1.jpeg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 20px;
}


.form-section {
    background-color:#fce7b1;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px #00000033;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

.form-section * {
    position: relative;
    z-index: 1;
}
input, select, textarea {
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

h2 {
    color: #222222;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    padding: 0 5px;
}

label {
    display: block;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 16px;
    font-weight: 500;
    color: #363636;
}
label.radio-select,
fieldset .option label {
    display: flex;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
    padding: 8px 12px;
    cursor: pointer;
} 

label.radio-select span {
    display: inline-block;
    width: 80px;
}

label.radio-select input[type="radio"] {
    margin: 0;
    flex-shrink: 0;
}

#text,
#email,
#age,
#otherEmotion,
#comments,
#emotion {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

fieldset {
    background-color: #faeabd;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
}

fieldset > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
} 
fieldset .option input[type="checkbox"] {
    margin: 0;
}

fieldset .option input[type="checkbox"]:checked + span {
    background-color: #236238;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
}

button[type="submit"] {
    background-color: #236238;
    color: white;
    padding: 15px 40px; 
    font-size: 1.2em;  
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #174125; 
    transform: scale(1.05);     
}






