
main {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
    flex: 1;
}

.filter {
    background-color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 3px 10px #00000020;
    margin-bottom: 2rem;
}

.filter p {
    font-weight: bold;
    margin-bottom: 1rem;
}

.filter .checkbox {
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.filter .checkbox input[type="checkbox"] {
    margin-right: 5px;
    width: 18px;
    height: 18px;
}

.category {
    margin-bottom: 3rem;
}

.category h3 {
    font-size: 1.8rem;
    color: #236238;
    text-align: left;
    margin-bottom: 1rem;
    border-left: 6px solid #236238;
    padding-left: 10px;
}

.emotions-gallery {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.gallery-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery-flex img {
    width: 220px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    aspect-ratio: 3/4;
}

.gallery-flex img:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px #00000040;
}


#all-checked ~ .gallery-flex .photo-card {
    display: block;
}

#happy:checked ~ .gallery-flex .happy {
     display: block;
}

#peace:checked ~ .gallery-flex .peace {
     display: block;
}