.confirmation-message {
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: #333;    
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}
.successfully-form {
    color: #236238; 
    font-size: 1.8em; 
    margin-bottom: 15px; 
}

.confirmation-message p {
    font-size: 1rem;
    margin-bottom: 2rem;
}


.back-home {
    background-color: #236238;
    display: inline-block;
    color: #ffffff;
    padding: 12px 30px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.back-home:hover {
    background-color: #174125;
    transform: scale(1.05);
}
