
main {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
    flex: 1;
}

.block-emotion {
    background: #fff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0px 3px 10px #00000020;
}

.filter {
    background-color: #f6f6f6;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 3px 10px #00000020;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
}

label.radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

input[type="radio"] {
    margin-right: 6px;
    width: 16px;
    height: 16px;
}

.label.radio span {
    font-size: 1rem;
    margin-left: 5px;
}

.emotion {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.emotion img {
    max-width: 150px;
    height: 180px;
    display: block;
    object-fit: cover;
    border-radius: 10px;
    display: none;
}

.emotion img:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px #00000040;
}

.emotions-gallery {
    display: block;
}

#all:checked ~ .gallery .emotion img {
    display: block;
}

#peace:checked ~ .gallery #peace-gallery .emotion img,
#silence:checked ~ .gallery #silence-gallery .emotion img,
#fear:checked ~ .gallery #fear-gallery .emotion img,
#boredom:checked ~ .gallery #boredom-gallery .emotion img,
#anxiety:checked ~ .gallery #anxiety-gallery .emotion img,
#joy:checked ~ .gallery #joy-gallery .emotion img,
#sadness:checked ~ .gallery #sadness-gallery .emotion img,
#stress:checked ~ .gallery #stress-gallery .emotion img,
#excitement:checked ~ .gallery #excitement-gallery .emotion img,
#anger:checked ~ .gallery #anger-gallery .emotion img,
#hope:checked ~ .gallery #hope-gallery .emotion img,
#love:checked ~ .gallery #love-gallery .emotion img {
    display: block;
}