body {
    background: #fdf7f0;
    color: #000000;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
    flex: 1;
}

.category {
    margin-bottom: 3rem;
}

.category h3 {
    font-size: 1.8rem;
    color: #236238;
    text-align: left;
    margin-bottom: 1rem;
    border-left: 6px solid #236238;
    padding-left: 10px;
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    justify-items: center;
}

.gallery-grid img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.gallery-grid img:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0,0,0,0.25);
}

