.search-form {
  display: flex;
  justify-content: center;
}

.search-form input {
  padding: 0.5rem;
  border: 1px solid #d0d0d0;
  border-radius: 4px 0 0 4px;
}

.search-form button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #236238;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;  
}

.search-form button:hover {
  background-color: #000000;
}

.intro h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.intro p {
  font-size: 1rem;
}

