input, select, textarea {
    font-family: "Poppins", sans-serif;
}

h2 {
    color: #222222;
    font-size: 28px;
}

h3 {
    color: #444444;
    font-size: 22px;
    margin-bottom: 10px;
}


label {
    display: block;
    margin-top: 15px;
    font-size: 18px;
    color: #555;
}


input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


button[type="submit"] {
    background-color: #236238;
    color: white;
    padding: 15px 40px; 
    font-size: 1.2em;  
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #174125; 
    transform: scale(1.05);     
}






