.gallery-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -10px;
}
.favorite-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 6px 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #ffcccc;
    color: red;
    font-weight: bold;
    display: inline-block;
}

.favorite-btn:hover {
    background: #ffebeb;
    transform: scale(1.05);
}

.photo-card {
   
    width: 180px;
    margin: 10px;
    border-radius: 20px;
    position: relative;
}
.photo-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 3/4; 
}

.favorite-photo {
    aspect-ratio: 3 / 4; 
    width: 180px;
    margin: 10px;
    border-radius: 20px;
    position: relative;
}

.favorite-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
