main {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
    flex: 1;
}
.block-emotion {
    padding: 2rem;
}

.filter {
    background-color: #f6f6f6;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 3px 10px #00000020;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
}

label.radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

input[type="radio"] {
    margin-right: 6px;
    width: 16px;
    height: 16px;
}

label.radio span {
    font-size: 1rem;
}


.emotions-gallery img {
    width: 120px;
    aspect-ratio: 3/4;
    object-fit: cover;
    border-radius: 10px;
    margin: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.emotions-gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px #00000040;
}



.emotions-gallery {
    display: block;
}
#all:checked ~ .gallery .emotion img {
    display: block;
}
#peace:checked ~ .gallery #peace-gallery .emotion img,
#silence:checked ~ .gallery #silence-gallery .emotion img,
#fear:checked ~ .gallery #fear-gallery .emotion img,
#boredom:checked ~ .gallery #boredom-gallery .emotion img,
#anxiety:checked ~ .gallery #anxiety-gallery .emotion img,
#joy:checked ~ .gallery #joy-gallery .emotion img,
#sadness:checked ~ .gallery #sadness-gallery .emotion img,
#stress:checked ~ .gallery #stress-gallery .emotion img,
#excitement:checked ~ .gallery #excitement-gallery .emotion img,
#anger:checked ~ .gallery #anger-gallery .emotion img,
#hope:checked ~ .gallery #hope-gallery .emotion img,
#love:checked ~ .gallery #love-gallery .emotion img {
    display: block;
}
