.gallery-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -10px;
}
.favorited {
    background-color: #ffcccc;
    color: red;
    font-weight: bold;
}
.photo-card {
    aspect-ratio: 3 / 4; 
    width: 180px;
    margin: 10px;
    border-radius: 20px;
    position: relative;
    overflow-y: hidden;
}

.photo-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-card button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #ffffffcc;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.photo-card button:hover {
    background: #ffebeb;
    transform: scale(1.05);
}
