body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

div {
    background-color: aliceblue;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 8px;
}


label {
    display: block;
    margin-top: 15px;
    font-size: 18px;
    color: #555;
}


input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


button[type="submit"] {
    background-color: #0056b3; /* azul */
    color: white;
    padding: 15px 40px; /* tamaño grande */
    font-size: 1.2em;   /* texto más grande */
    border-radius: 8px;
    margin-top: 20px;
}

button[type="submit"] {
    background-color: #003d80; /* azul más oscuro */
    transform: scale(1.05);     /* ligero agrandamiento */
}






